[submodule "module/rztl"]
	path = module/rztl
	url = git@github.com:alesegdia/rztl.git
[submodule "module/tinyxml2"]
	path = module/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "module/tmxparser"]
	path = module/tmxparser
	url = https://github.com/sainteos/tmxparser.git
[submodule "module/json11"]
	path = module/json11
	url = git@github.com:dropbox/json11.git
[submodule "module/sdl"]
	path = module/sdl
	url = https://github.com/alesegdia/aether-sdl-windeps
